freecodecamp/landing/Untitled.zip
freecodecamp/New folder/logo.png
freecodecamp/landing/Untitled/Layer 0.png
freecodecamp/landing/Untitled/Layer 0@2x.png
freecodecamp/landing/Untitled/Layer 0@3x.png
freecodecamp/landing/Untitled/logo.png
